:root{
    --spacing: 10px;
    --blur: 10px;
    --base: #ffc600;
}

body{
    font-family: 'Merriweather', serif;
    background-color: #02475e;
    color: white;
}

h2{
    margin: 5% 0;
    text-align: center;
    font-size: 4rem;
}

img{
    padding: var(--spacing);
    width: 35%;
    background: var(--base);
    filter: blur(var(--blur));
}

label{
    padding: 0 2%;
}

.js{
    color: var(--base);
}

.controls{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3%;
}

.spacing, .blur, .color{
    display: inline;
    padding: 0 3%;
}

.container{
    text-align: center;
    width: 100%;
    margin: auto;
}

@media only screen and (max-width: 600px){
    .spacing, .blur, .color{
        display: inline-block;
        text-align: left;
        width: 75%;
        margin-left: 5%;
    }
    .controls{
        padding: 5% 0 5%;
    }
    label{
        font-size: 1.5rem;
    }
    h2{
        margin-top: 10%;
        font-size: 3rem;
    }
    img{
        margin-top: 2%;
        width: 60%;
    }
}


